<!DOCTYPE HTML>
<html>
  <head>
    <title>Graph</title>

    <style>
      #graph_image{
         background:
           url(data:image/png;base64,{{ chart|safe }})
         no-repeat
         center;
         padding: 5px 0 5px 25px; 
         width : 800px;
         height : 500px;
      }

    </style>
</head>

<body>

  <div class='container-fluid text-center overflow-auto'>
    {% if chart %}
      <div class='container text-center' id='graph_image'>
      </div>
    {% else %}
      <h2>No Data Found</h2>
    {% endif %}
  </div>

    <a class='btn btn-primary text-white' href="{% url 'user_list' %}">
      Back To Result Page
    </a>
</body>
</html>


