<!--User/templates/user_list.html-->

{% extends 'base_template.html' %}

{% block title %}
  User List
{% endblock title %}

<!--Extra code under head tag-->
{% block remaining_content %}
  {% load staticfiles %}
{% endblock remaining_content %}

{% block whiskey %}
{% endblock whiskey %}

{% block profile %}

  {% block results %}
  {% endblock results %}
  
  {% block question_title %}
  {% endblock question_title %}
  
  {% block additional_text %}
  {% endblock additional_text %}

{% endblock profile %}

{% block body_block %}

  <br>
  <div class='text-center'>
    <h2 class='text-danger'>All Candidates</h2>
  </div>
  <section class="jumbotron text-center bg-dark">
    <div class="container table-responsive">
      <table class="table text-white">
        {% for user in user_list %}
          <tr>
            <td>
              {% if user.profile_pic %}
                <img class="img-fluid"  src="{{ user.profile_pic.url}}">
              {% else %}
                <img class="img-fluid" 
                 src="{% static 'default_user_pic.png' %}"
                 alt='Male Pug'>
              {% endif %}
                <br>
                <h4 class='text-white'>{{ user.username|title }}</h4>
            </td>
            <td> 
              <b>Right Answers</b>
              <h3 class='text-success'>{{ user.correct_answers }}</h3> 
                <small class='text-white'>
                  {% if user.is_complete_quiz %}
                      Whiskey ko 
                        {% if user.is_pregnant %}
                          <b class='text-success'>garbhwati</b> 
                        {% else %}
                          <b class='text-danger'>banj</b>
                        {% endif %}
                      banaya
                  {% else %}
                    ..........
                  {% endif %}
                </small>
            </td>
          </tr>
        {% endfor %}
      </table>
    </div>
  </section>
  <div class='text-center'>
    <a class='btn btn-dark text-danger' href="{% url 'result' %}">
      My Result
    </a>
    <a class='btn btn-dark text-danger' href="{% url 'analyse_data' %}">
      Analyse Results
    </a>
  </div>

{% endblock body_block %}



