<!--User/templates/user_detail.html-->

{% extends 'base_template.html' %}

{% block title %}
  User Detail
{% endblock title %}


{% block remaining_content %}
{% endblock remaining_content %}

{% block whiskey %}
{% endblock whiskey %}

{% block profile %}

  {% block results %}
  {% endblock results %}
  
  {% block question_title %}
  {% endblock question_title %}
  
  {% block additional_text %}
  {% endblock additional_text %}

{% endblock profile %}

{% block body_block %}

<br>
<section class="jumbotron text-center bg-warning">
  <div class="container table-responsive">
    <h4 class='text-dark'>Skipped Question Of {{ user_obj.username|title }}</h4>
    <table class="table text-secondary ">
      {% if user_obj.is_complete_quiz %}
        {% if user_obj.skip_question.all.count %}
          {% for skip_question in  user_obj.skip_question.all %}
          <tr>
            <td>
              <h4>
                Q.{{ skip_question.question_number }} 
              </h4>
            </td>
            <td>
              <h4>{{ skip_question.question_title }}</h4>
            </td>
          </tr>
          {% endfor %}
          <tr>
            <td colspan=2>
              <h3 class='text-dark'>
                Total Skips - {{ user_obj.total_skip_question }}
              </h3>
            </td>
          </tr>
        {% else %}
          <br>
          <h4 class='text-dark'>
            Don't skip any question
          </h4>
          <small>What a moochodi</small>
        {% endif %}
      {% else %}
        <br>
        <h4 class='text-dark'>
          {{ user_obj.username|title }},still don't complete the game.
        </h4>
        <small>Wait for backchodi</small>
      {% endif %}
        <tr>
          <td colspan=2>
            <br>
            <a class='btn btn-secondary text-white' href="{% url 'user_list' %}">
              Back
            </a>
          </td>
        </tr>
    </table>
  </div>
</section>


{% endblock body_block %}


