{% extends 'base_template.html' %}

{% block whiskey %}
<br>
{% endblock whiskey %}


    <!--class="p-5 text-center bg-image"-->
{% block body_block %}
  <div id='login_section_id' class='text-center bg-warning form-group' >
    <br>
    <h2 class='text-dark'>Game Begins</h2>
    <p>
      <small class='text-muted' >(Contact Developer if you don't have any account)</small>
    </p>

    <form method='post'>
      {{ form.non_field_errors }}
      {% csrf_token %}
      <p>
        <b>{{ form.username }}</b>
        <small>{{ form.username.errors }}</small>
      </p>

      <p>
        <b>{{ form.password }}</b>
        <small>{{ form.password.errors }}</small>
      </p>

      <button type='submit' class='btn btn-success'>Play Game</button>
    </form>
    <br>
  </div>


{% endblock body_block %}
