
{% extends 'base_template.html' %}

<!-- Title -->
{% block title %}
  500 :(
{% endblock %}

{% block whiskey %}
{% endblock %}

{% block profile %}
{% endblock profile %}

<!-- body -->
{% block body_block %}
  {% load staticfiles %}
  <div class='text-center'>
    <img class="rounded-circle" src="{% static '500_page_image.jpg' %}" alt="Project Image" width="240" height="240">
    <h1>Something Bad Happen</h1>

    <a class='btn btn-primary text-white' href="{% url 'terms_condition' %}">Back To Home Page</a>
  </div>
  <br>
  <br>
  <br>
  <br>
  <br>


{% endblock body_block %}




