{% extends 'base_template.html' %}
{% load staticfiles %}

{% block title %}
  Sawal {{ question.question_number }}
{% endblock title %}
 
{% block remaining_content %}
{% endblock remaining_content %}


<!--Semen image movement section.-->
{% block whiskey %}
  <div class='table-responsive' >
    <table class='table whiskey-table'> 
      <tr>
        
        <!--Male Pug Image-->
        <td class='male-image'>

          <!--IMAGE-->
          <img src="{% static 'male.jpeg' %}" 
            alt='Male Pug'
            style="display:block ; height:45px ; width:35px" >
        </td>
        
        <!--Algorithm-->
        {% for no_of_column in question.total_questions_list %}

          <!--Semen Location.-->
          {% if forloop.counter0 == user.correct_answers %}
            <td>
               <!--IMAGE-->
               <img src="{% static 'semen.png' %}" 
                 alt='Sperm Image'
                 style="height:45px ; width:65px" >
            </td>
          {% else %}
            <td class='text-light'>
              <b>{{forloop.counter0}}</b>
            </td>
          {% endif %}
        {% endfor %}
        
        <!--Female Pug Image-->
        <td class='female-image'>

          <!--IMAGE-->
          <img src="{% static 'female.jpg' %}" 
            alt='Female Pug'
            style="display:block; height:45px ; width:35px" >
        </td>
      </tr>
    </table>
  </div>

  <!--whiskey-table-->
  <div class='text-center whiskey-table text-muted'>
    <p><b class='text-success'>Semen Progress Radar</b></p>
  </div>
{% endblock whiskey %}
<!--Semen image movement section finish.-->

<!--MESSAGES-->
{% block results %}
  {% if messages %}
    <div class=" text-center messages">
        {% for message in messages %}
        	<p  {% if message.tags %} 
              class="bg-{{ message.tags }} text-dark" 
              {% endif %}> 
              {{ message }}
            </p>
        {% endfor %}
    </div>
    <br>
  {% endif %}
{% endblock results %}

<!--Question Display Section-->
{% block question_title %}

  <div class='text-center'>
    {% if question.question_image %}
      <img class='rounded-circle' src='{{ question.question_image.url }}' 
           alt='Question Picture' width=160 , height=160>
    {% endif %}
    <br>
    <h3>Q. {{ question.question_title }} ?</h3>
  </div>
{% endblock question_title %}

{% block additional_text %}
  <p class='text-light'>
    Sawal      - <b id='question_number_id_html'>{{ question.question_number }}</b>
    <br>
    Contestent - {{ user.username|title }}
    <br>
    Required Pushes - {{ passing_pushes }}
  </p>
  <b id='timer_count' class='rounded-circle bg-dark text-success display-4'></b>
{% endblock additional_text %}

{% block body_block %}

<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content bg-white">
        <div class="modal-body bg-white text-center">
          <h1> Are you sure ? </h1>
          <small>गांडू डोबरा नहीं खेलने दूंगा</small>
          <br>
          <a class="btn btn-default btn-dark text-danger" href="{% url 'quit' %}">
            Exit Now
          </a>
          <a class="btn btn-default btn-danger " href="" data-dismiss="modal">
            &nbsp; <b>&times;</b> &nbsp;
          </a>
        </div>
      </div>
    </div>
  </div>
</div>


<!--Option Display Section-->
<section class="jumbotron text-center bg-dark">
  <div class="container table-responsive">
    <form action="{% url 'form_processing' question.question_number %}"
          method="POST" >

      {% csrf_token %}
      <h2 class='text-white'>Options</h2>
      <table class="table">
        <tr>
          <td>
            <label>
              <input type="radio" name="image_selected" value="A" >
              <img class="img-fluid" src="{{ question.option_one_image.url }}"  > 
            </label>
          </td>
          <td>
            <label>
              <input type="radio" name="image_selected" value="B" >
              <img class="img-fluid" src="{{ question.option_two_image.url }}"  > 
            </label>
          </td>
        </tr>
        <tr>
          <td>
            <label>
              <input type="radio" name="image_selected" value="C" >
              <img class="img-fluid"  src="{{ question.option_three_image.url }}"  > 
            </label>
          </td>
          <td>
            <label>
              <input type="radio" name="image_selected" value="D" >
              <img class="img-fluid"  src="{{ question.option_four_image.url }}"  > 
            </label>
          </td>
        </tr>
        
        <!--Form Submit Button-->
        <tr>

          <!--Already Answered-->
          {% if answered_question %}
          <td colspan=2>
            <!--NEXT-->
            <a class='btn btn-primary text-white' 
               style='width:250px'
               href="{% url 'question' question.question_number.question_number|add:"-1" %}">
                Next Question >>>
            </a>
          </td>

          <!--Fresh Question-->
          {% else %}
            <script src="{% static 'js/question_timer.js' %}"
                    type='text/javascript'>
            </script>
          <td>
            <!--SKIP-->
            <input id='skip_button_id'
                   class='btn btn-warning'
                   name='image_selected'
                   type='submit'
                   value='Skip Kiya Jaye' >
          </td>
          <td>
            <!--LOCK-->
            <input id='lock_button_id' 
                   class='btn btn-success text-dark'
                   type='submit' 
                   value='Lock Kiya Jaye' >
          </td>
          {% endif %}
        </tr>

        <tr>
          <td colspan=2>
            <input class='btn btn-sm btn-danger font-weight-bold'
                   type='button'
                   value='Quit Kiya Jaye ?' 
                   data-toggle="modal"
                   data-target="#myModal" >
          </td>
        </tr>
      </table>
    </form>
  </div>
</section>

{% endblock body_block %}


