{% extends 'base_template.html' %}

{% load staticfiles %}

{% block whiskey %}
    <br>
{% endblock whiskey %}


{% block body_block %}
<hr>
<div class='container-fluid text-center bg-dark text-success'>
  <h3>Manoj Neeti Special</h3>
</div>

<div class="container  text-center bg-warning">
  
  <div class='container text-center'>
    <br>
  <table style="width:100%">
    <tr>
      <td class='xs-col-1'>
          <img src="{% static 'pug_sex.jpeg' %}"
               style="height:70px ; width:70px">
      </td>

      <td class='xs-col-1'>
        <h3 class='text-dark'>+</h3> 
      </td>

      <td class='xs-col-1'>
          <img src="{% static 'female_kid.jpeg' %}"
               style="height:70px ; width:70px">
      </td>
      
      <td class='xs-col-1'>
        <h3 class='text-dark'>=</h3> 
      </td>
      <td class='xs-col-1'>
        <img src="{% static 'baniya.jpg' %}" style="height:70px ; width:70px">
      </td>
    <tr>
  </table>
    <br>
  </div>


</div>

<hr>
<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content whiskey-table">
        <div class="modal-header">
          <h4 class="modal-title text-white">Conditions</h4>
          <button type="button" 
                  class="close text-white bg-danger"
                  data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body ">
		  <ul class="list-group">

			 <li class="list-group-item text-muted whiskey-table"> यह ऐप केवल मनोरंजन प्रयोजनों के लिए है और हमारा किसी व्यक्ति, समुदाय, संप्रदाय या धर्म की भावनाओं को आहत करने का इरादा नहीं है
             </li>
			 <li class="text-center list-group-item text-light whiskey-table">Saral Bhasha Meh</li>
			 <li class="list-group-item text-muted whiskey-table">Na mare appki.</li>
			 <li class="list-group-item text-muted whiskey-table">Na maro aap hmari</li>
		  </ul> 
        </div>
        <div class="modal-footer">
          <a class="btn btn-default btn-success"
             href="{% url 'question' question_id_to_redirect %}">
            Accept Ki Jaye
          </a>
          <a class="btn btn-default btn-danger" href="{% url 'logout' %}#login_section_id">
            Reject Ki Jaye
          </a>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

  <div class='text-center'>
      <br>
      <h3 class='bg-danger text-white'>Game Rules</h3>
      <div class='container bg-dark text-white'>
        <br>
        <h5 class='text-danger'>Pay Attention <br>Brothers</h5><hr>
        <p><b>Tick</b> the option then click 
           <b class='text-warning'>Lock</b> button.
        </p><hr>
        <p>You can answer the question <b>only one time</b>.</p><hr>
        <p>You get <b>20 seconds</b> to answer the question.</p><hr>
        <p>Question will be <b>auto-skip</b> when timer ends.</p><hr>
        <p class='text-warning'>Feel free to skip any question.</p><hr>
        <p>You can <b class='text-danger'>quit</b> the game anytime you want.</p><hr>
        <p class='text-warning'>
          <b>
            आपका हर सही जवाब व्हिस्की तो गर्ब्वती बनाने में एक योगदान है ! 
          </b>
        </p><hr>
    </div>

    <br>
    <p> <b class='text-danger'>Note: </b> By clicking Accept button you are accepting all our policies.</p>

  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
    Check Kiya Jaye
  </button>



    <div class='container'>
      <br>
      <h3>Terms & Conditions</h3>
      <p class='text-muted'>
      	Laxmi Chits Fund investments are subject to manoj risks, read all scheme related documents carefully ;)
      </p>
    </div>

  </div>

{% endblock body_block %}

