{% extends 'base_template.html' %}

{% load staticfiles %}

{% block whiskey %}
    <br>
{% endblock whiskey %}


{% block body_block %}

<h3 class='text-dark text-center'>Whiskey needs {{ question.passing_pushes }} pushes.</h3>
<div class="container  text-center bg-warning">
  
  <div class='container text-center'>
    <br>
  <table style="width:100%">
    <tr>
      <td class='xs-col-1'><img src="{% static 'pug_sex.jpeg' %}" style="height:70px ; width:70px"></td>
      <td class='xs-col-1'> <h3 class='text-dark'>+</h3> </td>
      <td class='xs-col-1'><img src="{% static 'female_kid.jpeg' %}" style="height:70px ; width:70px"></td>
      
      <td class='xs-col-1'> <h3 class='text-dark'>=</h3> </td>
      <td class='xs-col-1'><img src="{% static 'baniya.jpg' %}" style="height:70px ; width:70px"></td>
    <tr>
  </table>
    <br>
  </div>

  <h6>You understand soon.</h6>

</div>

<div class="container">
  <!-- Trigger the modal with a button -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content bg-secondary">
        <div class="modal-header">
          <h4 class="modal-title">Conditions</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        <div class="modal-body bg-dark">
		  <ul class="list-group bg-dark">

			 <li class="list-group-item text-muted bg-dark"> यह ऐप केवल मनोरंजन प्रयोजनों के लिए है और हमारा किसी व्यक्ति, समुदाय, संप्रदाय या धर्म की भावनाओं को आहत करने का इरादा नहीं है
             </li>
			 <li class="text-center list-group-item text-light bg-dark">Saral Bhasha Meh</li>
			 <li class="list-group-item text-muted bg-dark">Na mare appki.</li>
			 <li class="list-group-item text-muted bg-dark">Na maro aap hmari</li>
		  </ul> 
        </div>
        <div class="modal-footer">
          <a class="btn btn-default btn-success" href="{% url 'question' question.total_questions %}">
            Accept Ki Jaye
          </a>
          <a class="btn btn-default btn-danger" href="{% url 'logout' %}#login_section_id">
            Reject Ki Jaye
          </a>
        </div>
      </div>
      
    </div>
  </div>
  
</div>

  <div class='text-center'>
    <br>
    <p> <b class='text-danger'>Note:</b> Accept button pr click krne se aap hmari sari terms and conditions maan rhe h (Samjhe baa).</p>

  <button type="button" class="btn btn-warning btn-lg" data-toggle="modal" data-target="#myModal">
    Check Kiya Jaye
  </button>

    <div class='container'>
      <br>
      <h3>Terms & Conditions</h3>
      <p class='text-muted'>
      	Laxmi Chits Fund investments are subject to manoj risks, read all scheme related documents carefully ;)
      </p>
    
      <a></a>

    </div>

  </div>

{% endblock body_block %}

